@charset "utf-8";

html {
  font-size: 1rem;
}
body {
  background-color:black;
  background-attachment: fixed;
  background-image: url("../Media/images/backgrounds/BG2.jpg");

  background-repeat: no-repeat;
}
.btn-success {
  color: #fff;
  background-color:transparent;
  border:0px;
  border-color: #000000;
}

/* unvisited link*/
a:link {
	text-decoration:none;
	border:none;
	color:yellowgreen;
	font-weight:bold;
}

/* visited link*/
a:visited {
    color: yellowgreen;
}

/* mouse over link*/
a:hover {
    color: yellowgreen;
	text-decoration: none;
}

.btn-success {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border: 2px solid rgba(157,213,58,.1);
padding-top: 10px;
padding-left: 10px;
border-radius:25px 25px 25px 25px;
}

.btn-success:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;

}
.btn-success1:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:5px 5px 5px 5px;
}

.btn-success2 {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
color: white;
text-decoration: none;
}

.btn-success2:hover {
background-color:rgba(24,130,229,1.0);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
}

/* change the background color */
.navbar-custom {
    background-color:rgba(0,0,0,0.0);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.card-body {
background-color:rgba(18,26,44,0.82);
}
.card-img-top{
background-color:rgba(18,26,44,0.82);
}
.card-text{
background-color:rgba(18,26,44,0.82);
}

h1 {
font-size: 1.5em;
color:rgba(24,130,229,1.00);
font-style: normal;
font-family: 'Anton', sans-serif;
text-shadow: 2px 2px 4px #000000;
/*text-shadow:3px 3px 0 #eee,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:grey;*/
}

h5 {
	font-size: 1.3em;
	color:greenyellow;
	font-family: inherit;
}

h5.gal {
	font-size: 15pt;
	color:greenyellow;
	font-family: 'Anton';
}

h6 {
	font-family: 'Anton';
	color: rgba(200,200,200,1.00);
	font-size: 12px;
}

h6.gal {
	font-size: 10pt;
	font-family: 'Merriweather', serif;
	color: rgba(200,200,200,1.00);
	/*margin-left: 15%;
	margin-right: 15%;*/
}

p.white {
	font-size: 1em;
	color:antiquewhite;
}

p.white1 {
	font-size: 1em;
	color:antiquewhite;
}

p.gal {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
}

.navbox {
	background-color: rgba(0,0,0,1.0);
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
}

.fadebox1 {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*cursor:pointer;*/
	padding:20px 20px 20px 20px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

img.Tgal {
	cursor:pointer;
	border-radius: 10px 10px 10px 10px;
	border:4px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:16px;
	width: 75px;
    height: 75px;
    overflow: hidden;
}

@media (min-width: 576px) and (max-width: 767.98px) {
html {
    font-size: 1.2rem;
  }
body {
    background-color:black;
    background-attachment: fixed;
    background-image: url("../Media/images/backgrounds/BG.jpg");
    background-repeat: no-repeat;
	}
/* unvisited link*/
a:link {
    color: yellowgreen;
}

/* visited link*/
a:visited {
    color: yellowgreen;
}

/* mouse over link*/
a:hover {
    color: yellowgreen;
	text-decoration: none;
}

/* selected link
a:active {
    color: blue;
}
*/

.btn-success {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;
border: 2px solid rgba(157,213,58,.1);
padding-top: 10px;
padding-left: 10px;
}

.btn-success:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;

}
.btn-success1:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:5px 5px 5px 5px;
}

.btn-success2 {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
color: white;
text-decoration: none;
}

.btn-success2:hover {
background-color:rgba(24,130,229,1.0);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
}

/* change the background color */
.navbar-custom {
    background-color:rgba(0,0,0,0.0);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.card-body {
background-color:rgba(18,26,44,0.82);
font-size:.6em;
padding-left:.5em;
}

.card-img-top{
background-color:rgba(18,26,44,0.82);
}
.card-text{
background-color:rgba(18,26,44,0.82);
}

.navbar-toggler {
  padding: 0.25rem 1rem 0rem 1rem;
  font-size: 1rem;
  /*line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;*/
}

h1 {
color:rgba(24,130,229,1.00);
font-style: normal;
font-family: 'Anton', sans-serif;
text-shadow: 2px 2px 4px #000000;
/*text-shadow:3px 3px 0 #eee,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:grey;*/
}

h2 {
	color:rgba(24,130,229,1.00);
	font-family: 'Anton';
	font-size: 30pt;
}

h2.center {
text-align: center;
}

h3 {
color:rgba(24,130,229,1.00);
font-style: normal;
}

h4 {
	font-family: 'Anton';
	padding-top: 5px;
	color:rgba(24,130,229,1.00);
	font-style: normal;
}

h5 {
	color:greenyellow;
	font-family: inherit;
}

h5.gal {
	font-size: 20pt;
	color:greenyellow;
	font-family: 'Anton';
}

h6 {
	font-family: 'Anton';
	color: rgba(200,200,200,1.00);
	font-size: 12px;
}

h6.gal {
	font-family: 'Merriweather', serif;
	color: rgba(200,200,200,1.00);
	font-size: 16px;
	/*margin-left: 15%;
	margin-right: 15%;*/
}

.thumbinfo {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
	padding-top: 0px;
	margin-left: 0%;
	margin-right: 0%;
	text-align: left;
	display:inline-block;
	text-decoration: none;
	line-height: 19px;
}

p.white {
color:antiquewhite;
font-size:.8em;
}

p.gal {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
}

.flyin {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*display:inline-block;
	float:right;
	margin-right: 5px;
	margin-top: 15px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:20px 20px 20px 20px;*/
	filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.7));
}

.navbox {
	background-color: rgba(0,0,0,1.0);
	filter: drop-shadow(10px 8px 3px rgba(0,0,0,0.4));
}

.fadebox1 {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*cursor:pointer;*/
	padding:20px 20px 20px 20px;
	filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.7));
}

img.Tgal {
	cursor:pointer;
	border-radius: 10px 10px 10px 10px;
	border:4px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:16px;
	width: 125px;
    height: 125px;
    overflow: hidden;
}

img.Tgal.orig {
	cursor:pointer;
	border-radius: 25px 25px 25px 25px;
	border:10px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:16px;
	width: 125px;
    height: 125px;
    overflow: hidden;
}

img.round {
	border-radius: 25px 25px 25px 25px;
	border:10px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:16px;
}

}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 1.4rem;
  }
body {
    background-color:black;
    background-attachment: fixed;
    background-image: url("../Media/images/backgrounds/BG.jpg");
    background-repeat: no-repeat;
	}
/* unvisited link*/
a:link {
    color: yellowgreen;
}

/* visited link*/
a:visited {
    color: yellowgreen;
}

/* mouse over link*/
a:hover {
    color: yellowgreen;
	text-decoration: none;
}

/* selected link
a:active {
    color: blue;
}
*/

.btn-success {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;
border: 2px solid rgba(157,213,58,.1);
padding-top: 10px;
padding-left: 10px;
}

.btn-success:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;

}
.btn-success1:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:5px 5px 5px 5px;
}

.btn-success2 {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
color: white;
text-decoration: none;
}

.btn-success2:hover {
background-color:rgba(24,130,229,1.0);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
}

/* change the background color */
.navbar-custom {
    background-color:rgba(0,0,0,0.0);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.card-body {
background-color:rgba(18,26,44,0.82);
font-size:.8em;
}
.card-img-top{
background-color:rgba(18,26,44,0.82);
}
.card-text{
background-color:rgba(18,26,44,0.82);
}

.navbar-toggler {
  padding: 0.25rem 1rem 0rem 1rem;
  font-size: 1rem;
 /*line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;*/
}

h1 {
color:rgba(24,130,229,1.00);
font-style: normal;
font-family: 'Anton', sans-serif;
text-shadow: 2px 2px 4px #000000;
/*text-shadow:3px 3px 0 #eee,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:grey;*/
}

h2 {
	color:rgba(24,130,229,1.00);
	font-family: 'Anton';
	font-size: 30pt;
}

h2.center {
text-align: center;
}

h3 {
color:rgba(24,130,229,1.00);
font-style: normal;
}

h4 {
	font-family: 'Anton';
	padding-top: 5px;
	color:rgba(24,130,229,1.00);
	font-style: normal;
}

h5 {
	color:greenyellow;
	font-family: inherit;
}

h5.gal {
	font-size: 20pt;
	color:greenyellow;
	font-family: 'Anton';
}

h6 {
	font-family: 'Anton';
	color: rgba(200,200,200,1.00);
	font-size: 12px;
}

h6.gal {
	font-family: 'Merriweather', serif;
	color: rgba(200,200,200,1.00);
	font-size: 16px;
	/*margin-left: 15%;
	margin-right: 15%;*/
}

.thumbinfo {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
	padding-top: 0px;
	margin-left: 0%;
	margin-right: 0%;
	text-align: left;
	display:inline-block;
	text-decoration: none;
	line-height: 19px;
}

p.white {
color:antiquewhite;
font-size:.7em;
}

p.white1 {
color:antiquewhite;
font-size: .7em;
}

p.gal {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
}

.flyin {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*display:inline-block;
	float:right;
	margin-right: 5px;
	margin-top: 15px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:20px 20px 20px 20px;*/
	filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.7));
}

.navbox {
	background-color: rgba(0,0,0,1.0);
	filter: drop-shadow(10px 8px 3px rgba(0,0,0,0.4));
}

.fadebox1 {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*cursor:pointer;*/
	padding:20px 20px 20px 20px;
	filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.7));
}

img.Tgal {
	cursor:pointer;
	border-radius: 10px 10px 10px 10px;
	border:4px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:16px;
	width: 125px;
    height: 125px;
    overflow: hidden;
}
	border-radius: 25px 25px 25px 25px;
	border:10px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:16px;
}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
html {
    font-size: 1.6rem;
  }
body {
    background-color:black;
    background-attachment: fixed;
    background-image: url("../Media/images/backgrounds/BG.jpg");
    background-repeat: no-repeat;
	}

/* unvisited link*/
a:link {
    color: yellowgreen;
}

/* visited link*/
a:visited {
    color: yellowgreen;
}

/* mouse over link*/
a:hover {
    color: yellowgreen;
	text-decoration: none;
}

/* selected link
a:active {
    color: blue;
}
*/

.btn-success {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;
border: 2px solid rgba(157,213,58,.1);
padding-top: 10px;
padding-left: 10px;
}

.btn-success:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;

}
.btn-success1:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:5px 5px 5px 5px;
}

.btn-success2 {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
color: white;
text-decoration: none;
}

.btn-success2:hover {
background-color:rgba(24,130,229,1.0);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
}

/* change the background color */
.navbar-custom {
    background-color:rgba(0,0,0,0.0);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.card-body {
background-color:rgba(18,26,44,0.82);
font-size:.7em;
}
.card-img-top{
background-color:rgba(18,26,44,0.82);
}
.card-text{
background-color:rgba(18,26,44,0.82);
}

.navbar-toggler {
  padding: 0.25rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  /*line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;*/
}

h1 {
font-size: 1.5rem;
color:rgba(24,130,229,1.00);
font-style: normal;
font-family: 'Anton', sans-serif;
/*text-shadow: 2px 2px 4px #000000;
text-shadow:3px 3px 0 #eee,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:grey;*/
}

h2 {
	color:rgba(24,130,229,1.00);
	font-family: 'Anton';
	font-size: 30pt;
}

h2.center {
text-align: center;
}

h5 {
	color:greenyellow;
	font-family: inherit;
}

h5.gal {
	font-size: 20pt;
	color:greenyellow;
	font-family: 'Anton';
}

h6 {
	font-family: 'Anton';
	color: rgba(200,200,200,1.00);
	font-size: 12px;
}

h6.gal {
	font-family: 'Merriweather', serif;
	color: rgba(200,200,200,1.00);
	font-size: 16px;
	/*margin-left: 15%;
	margin-right: 15%;*/
}

.thumbinfo {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
	padding-top: 0px;
	margin-left: 0%;
	margin-right: 0%;
	text-align: left;
	display:inline-block;
	text-decoration: none;
	line-height: 19px;
}

p.white {
color:antiquewhite;
font-size: .8em;
}

p.white1 {
color:antiquewhite;
font-size: .8em;
}

p.gal {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
}

.flyin {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*display:inline-block;
	float:right;
	margin-right: 5px;
	margin-top: 15px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:20px 20px 20px 20px;*/
	filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.7));
}

.navbox {
	background-color: rgba(0,0,0,1.0);
	filter: drop-shadow(10px 8px 3px rgba(0,0,0,0.4));
}

.fadebox1 {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*cursor:pointer;*/
	padding:20px 20px 20px 20px;
	filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.7));
}

img.Tgal {
	cursor:pointer;
	border-radius: 10px 10px 10px 10px;
	border:4px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:16px;
	width: 125px;
    height: 125px;
    overflow: hidden;
}
}

@media (min-width: 1200px) {
html {
    font-size: 1.6rem;
  }
body {
    background-color:black;
    background-attachment: fixed;
    background-image: url("../Media/images/backgrounds/BG.jpg");
    background-repeat: no-repeat;
	}

/* unvisited link*/
a:link {
    color: yellowgreen;
}

/* visited link*/
a:visited {
    color: yellowgreen;
}

/* mouse over link*/
a:hover {
    color: yellowgreen;
	text-decoration: none;
}

/* selected link
a:active {
    color: blue;
}
*/

.btn-success {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;
border: 2px solid rgba(157,213,58,.1);
padding-top: 10px;
padding-left: 10px;
}

.btn-success:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px 25px 25px 25px;

}
.btn-success1:hover {
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:5px 5px 5px 5px;
}

.btn-success2 {
background-color:rgba(24,130,229,.2);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
color: white;
text-decoration: none;
}

.btn-success2:hover {
background-color:rgba(24,130,229,1.0);
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:10px 10px 10px 10px;
border: 2px solid rgba(157,213,58,.0);
}

/* change the background color */
.navbar-custom {
    background-color:rgba(0,0,0,0.0);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.card-body {
background-color:rgba(18,26,44,0.82);
font-size:.7em;
}
.card-img-top{
background-color:rgba(18,26,44,0.82);
}
.card-text{
background-color:rgba(18,26,44,0.82);
}

.navbar-toggler {
  padding: 0.25rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  /*line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;*/
}

h1 {
font-size: 1.5rem;
color:rgba(24,130,229,1.00);
font-style: normal;
font-family: 'Anton', sans-serif;
/*text-shadow: 2px 2px 4px #000000;
text-shadow:3px 3px 0 #eee,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:grey;*/
}

h2 {
	color:rgba(24,130,229,1.00);
	font-family: 'Anton';
	font-size: 30pt;
}

h2.center {
text-align: center;
}

h5 {
	color:greenyellow;
	font-family: inherit;
}

h5.gal {
	font-size: 20pt;
	color:greenyellow;
	font-family: 'Anton';
}

h6 {
	font-family: 'Anton';
	color: rgba(200,200,200,1.00);
	font-size: 12px;
}

h6.gal {
	font-family: 'Merriweather', serif;
	color: rgba(200,200,200,1.00);
	font-size: 16px;
	/*margin-left: 15%;
	margin-right: 15%;*/
}

.thumbinfo {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
	padding-top: 0px;
	margin-left: 0%;
	margin-right: 0%;
	text-align: left;
	display:inline-block;
	text-decoration: none;
	line-height: 19px;
}

p.white {
color:antiquewhite;
font-size: .8em;
}

p.white1 {
color:antiquewhite;
font-size: .8em;
}

p.gal {
	font-family: 'Open Sans Light';
	color: rgba(200,200,200,1.00);
	font-size: 14px;
}

.flyin {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*display:inline-block;
	float:right;
	margin-right: 5px;
	margin-top: 15px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:20px 20px 20px 20px;*/
	filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.7));
}

.navbox {
	background-color: rgba(0,0,0,1.0);
	filter: drop-shadow(10px 8px 3px rgba(0,0,0,0.4));
}

.fadebox1 {
	background-color: rgba(0,0,0,0.5);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:10px solid rgba(0,0,0,0.1);
	/*cursor:pointer;*/
	padding:20px 20px 20px 20px;
	filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.7));
}

img.Tgal {
	cursor:pointer;
	border-radius: 10px 10px 10px 10px;
	border:4px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:16px;
	width: 125px;
    height: 125px;
    overflow: hidden;
}
}
