.grid {
/* basic grid
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: 200px 100px;
	grid-auto-rows: 100px;
	grid-gap: 20px;
*/

/* fr unit: flexible grids wo percentages, fractional unit
can mix px size with fr
	display: grid;
	grid-template-columns: 2fr 1fr 4fr 1fr;
	grid-template-rows: 200px 100px;
	grid-auto-rows: 100px;
	grid-gap: 20px;
*/

/* repeat notion of tracks or listing
	display: grid;
	grid-template-columns: repeat(3, 1fr 4fr);
	grid-gap: 5px;
*/

/* introduction to what minmax does
	display: grid;
	grid-template-columns: minmax(100px, 350px) 1fr 1fr;
	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto);

*/
/*auto fills colums based on screen width */
/*	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px; */

/* static first column with two resizable columns; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.grid div {
	border: 1px solid rgb(0,95,107);
	border-radius: 3px;
	background-color: rgba(0,95,107,0.8);
	padding: 0.2em;
	color: #fff;
}
