@charset "utf-8";

@media (min-width: 576px) and (max-width: 767.98px) {

  .grid {
    display: grid;
  	grid-template-columns: 1fr;
  	grid-gap: 20px;
  }

  .grid div {
  	border: 1px solid rgb(0,95,107);
  	border-radius: 3px;
  	background-color: rgba(0,95,107,0.8);
  	padding: 0.2em;
  	color: #fff;
  }

html {
    font-size: 1.2rem;
  }
body {
  background-color:rgba(27,27,27,1);  /*dark gray */
  /*background-color:rgba(100,100,100,1); /* light gray */
 /* background-attachment: fixed;
 background-image: url("../Media/images/backgrounds/BG.jpg");
  background-repeat: no-repeat;*/
}

/* unvisited link*/
a:link {
	text-decoration:none;
	border:none;
	color:yellowgreen;
	font-weight:bold;
}

/* visited link*/
a:visited {
    color: yellowgreen;
}

/* mouse over link*/
a:hover {
  color: yellowgreen;
	text-decoration: none;
}

img.Tgal {
	cursor:pointer;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border:2px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	width: 300px;
	height: 300px;
	overflow: hidden;
}

}

@media (min-width: 768px) and (max-width: 991.98px) {

  .grid {
    display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-gap: 20px;
  }

  .grid div {
  	border: 1px solid rgb(0,95,107);
  	border-radius: 3px;
  	background-color: rgba(0,95,107,0.8);
  	padding: 0.2em;
  	color: #fff;
  }

html {
    font-size: 1.4rem;
  }
body {
  background-color:rgba(27,27,27,1);  /*dark gray */
  /*background-color:rgba(100,100,100,1); /* light gray */
 /* background-attachment: fixed;
 background-image: url("../Media/images/backgrounds/BG.jpg");
  background-repeat: no-repeat;*/
}

/* unvisited link*/
a:link {
	text-decoration:none;
	border:none;
	color:yellowgreen;
	font-weight:bold;
}

/* visited link*/
a:visited {
    color: yellowgreen;
}

/* mouse over link*/
a:hover {
  color: yellowgreen;
	text-decoration: none;
}


img.Tgal {
	cursor:pointer;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border:2px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
  width: 300px;
	height: 300px;
	overflow: hidden;
}
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .grid {
    display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-gap: 20px;
  }

  .grid div {
  	border: 1px solid rgb(0,95,107);
  	border-radius: 3px;
  	background-color: rgba(0,95,107,0.8);
  	padding: 0.2em;
  	color: #fff;
  }

  html {
      font-size: 1.6rem;
    }
  body {
    background-color:rgba(27,27,27,1);  /*dark gray */
    /*background-color:rgba(100,100,100,1); /* light gray */
   /* background-attachment: fixed;
   background-image: url("../Media/images/backgrounds/BG.jpg");
    background-repeat: no-repeat;*/
  }

  /* unvisited link*/
  a:link {
  	text-decoration:none;
  	border:none;
  	color:yellowgreen;
  	font-weight:bold;
  }

  /* visited link*/
  a:visited {
      color: yellowgreen;
  }

  /* mouse over link*/
  a:hover {
    color: yellowgreen;
  	text-decoration: none;
  }

img.Tgal {
	cursor:pointer;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border:2px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
  width: 300px;
	height: 300px;
	overflow: hidden;
}
}

@media (min-width: 1200px) {

  .grid {
    display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-gap: 20px;
  }

  .grid div {
  	border: 1px solid rgb(0,95,107);
  	border-radius: 3px;
  	background-color: rgba(0,95,107,0.8);
  	padding: 0.2em;
  	color: #fff;
  }

html {
    font-size: 1.6rem;
  }
body {
  background-color:rgba(27,27,27,1);  /*dark gray */
  /*background-color:rgba(100,100,100,1); /* light gray */
 /* background-attachment: fixed;
 background-image: url("../Media/images/backgrounds/BG.jpg");
  background-repeat: no-repeat;*/
}

/* unvisited link*/
a:link {
	text-decoration:none;
	border:none;
	color:yellowgreen;
	font-weight:bold;
}

/* visited link*/
a:visited {
    color: yellowgreen;
}

/* mouse over link*/
a:hover {
  color: yellowgreen;
	text-decoration: none;
}

img.Tgal {
	cursor:pointer;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border:2px solid rgba(0,0,0,1.00);
	/*border: medium solid rgba(110,14,229,1.00);*/
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
  width: 300px;
	height: 300px;
	overflow: hidden;
}
}
